<template>
    <div class="user-card">
        <div class="user-title">
            <h2>{{ user.name }}</h2>
            <span class="username">({{ user.username }})</span>
        </div>
        <div class="user-content">
            <div class="detail-group">
                <label class="detail-label" for="email">Email</label>
                <p class="detail-content">{{ user.email }}</p>
            </div>
            <div class="detail-group">
                <label class="detail-label" for="email">Phone</label>
                <p class="detail-content">{{ user.phone }}</p>
            </div>
            <div class="detail-group">
                <label class="detail-label" for="email">Website</label>
                <p class="detail-content">{{ user.website }}</p>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: 'list',

    props: {
        user: {
            type: Object
        }
    }
}
</script>

<style scoped>
    h2 {
        margin: 0 1rem 0 0;
    }
    .user-card {
        width: 100%;
        border: 1px solid #eee;
        padding: 1rem;
        margin-bottom: .5rem;
    }

    .user-card:hover {
        background-color: rgb(238, 238, 238, 0.3);
    }

    .user-title {
        display: flex;
    }

    .username {
        margin-top: .5rem;
    }

    .detail-group {
        display: flex;
        margin: .5rem 0;
    }

    .detail-group .detail-label {
        font-weight: bold;
    }
    .detail-group .detail-content {
        margin: 0 1rem;
    }
</style>