<template>
    <div id="app">
        <h1>Deploy static page to multiple site, in one "PUSH" commit.</h1>
        <h2>lunch to the moon on {{ site }}</h2>
        <list v-for="user in users" :key="user.id" :user="user"></list>
    </div>
</template>

<script>
    import List from './components/List.vue'

    export default {
        name: 'app',
        
        components: {
            List
        },

        mounted: function () {

            fetch('https://jsonplaceholder.typicode.com/users')
                .then(response => response.json())
                .then((users) => {
                    this.users = users
                })

            console.log(process.env)
        },
        
        data: function () {
            return {
                users: [],
                site: !process.env.VUE_APP_SITE ? 'local' : process.env.VUE_APP_SITE
            }
        }
    }
</script>

<style>
    #app {
        font-family: 'Avenir', Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        color: #2c3e50;
        margin: 0 auto;
        max-width: 60rem;
    }
</style>